@use "./components/variables1";
@use "./components/reset2";
@use "./components/global3";
@use "./components/header4";
@use "./components/bio5";
@use "./components/skills6";
@use "./components/media7";
@use "./components/projects8";
@use "./components/clients9";
@use "./components/contact10";
@use "./components/footer11";
@use "./components/theme12";
@use "./components/responsive13";
