.skills {
  grid-template-columns: 1fr;
}
.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / -1;
  row-gap: 5rem;
}

.skills__title {
  font-size: var(--font-size-38);
  font-weight: var(--font-weight-semi-bold);
}

.skills__years {
  font-size: var(--font-size-20);
  margin-top: 1rem;
  display: inline-block;
}

.skills__item {
  transition: var(--transition-timing);
  user-select: none;
  position: relative;
  display: inline-block;
}

.skills__item:hover {
  text-shadow: 0px 0px 2px var(--color-green);
}

.underline::after {
  content: "";
  height: 0.6rem;
  width: 60%;
  background: var(--color-text);
  position: absolute;
  left: 0;
  bottom: -20px;
}

// .active {
//   border-bottom: 0.1rem solid black;
// }
